.sobre-uno {
    background-color: #fff;

}


.titulo-section-1 {
    text-align: center;
    font-size: 27px;
    padding: 13px;
}

.contenido {
    display: flex;
    padding: 10px 0px 0px 60px;
}

.contenido img {
    width: 23rem;

}

.contenido p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}

@media (max-width: 670px) {
    .titulo-section-1 {
        padding-left: 2rem;
    }

    .contenido {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 30px;
       padding-left: 15px;
    }

    .contenido img {
        width: 20rem;
    }

    .contenido p {
        text-align: center;
    }

}