.banner{
    height: 100vh;
    padding-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.titulo-banner{
    
    color: #fff;
    font-size: 70px;
}


.subtitulo-banner{
    color: #fff;
    display: block;
    white-space: nowrap;
    border-right: 3px solid #15c99c;
    width: 22ch;
    animation: typing 4s steps(27) infinite, blink .5s infinite step-end alternate;
    overflow: hidden;

}

@keyframes typing{0%{width:0}}
 @keyframes blink{50%{border-color:transparent}}

 .wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
 }