* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagen-bienvenida {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://i.pinimg.com/originals/56/ea/c1/56eac192bd2152ac3d610ca75ab1b562.jpg);
}

.form-login{
    width: 500px;
    background: rgb(253, 253, 253);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
}

.form-login h2{
    text-align: center;
    font-size: 2rem;
}
.imagen-login{
    height: 10rem;
    display: flex;
    justify-content: center;
    
}


.form-login input {
    width: 100%;
    background: rgb(184, 188, 204);
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;  
    font-size: 18px;
}

.form-login label {
    display: flex;
    justify-content: center;
    font-size: 0.92rem;
}

.form-login button {
    width: 100%;
    background: rgba(31, 185, 202, 0.938);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 1.1rem;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.form-login button:hover {
    background-color: rgb(66, 228, 139);
    color: black;
}