* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.imagen-bienvenida {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0009;
    background-image: url(https://imagenes.elpais.com/resizer/4qUK41oKV7tAiSQanPkB4i55rvY=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/ZEOB5YOV2JEFFIWLMWUN2KCHCE.jpg);
}

.container {
    background-color: #e0e0e0;
    position: absolute;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0.125rem;
    display: flex;
    flex-direction: column;
  
}