.Servicios{
  background-color:  #fff;
}
.titulo-servicio{ 
  text-align: center;
  font-size: 27px;
  padding: 30px;
}

.informacion-servicio{
  display: flex;
  gap: 100px;
   padding: 0px 37px 0px 10px;
 } 

 .contenido-servicio{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 padding: 0px 0px 0px 40px;
}

.contenido-servicio h4{
  font-size: 18px;
  
}
.contenido-servicio img{
 width: 7rem;
}

@media (max-width: 1073px) {
   .informacion-servicio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   }

   .contenido-servicio p {
    text-align: center;
   }
}
